#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
  width: 840px;
  height: 34px;
  -ms-transform: rotate(0.0deg);
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  -ms-transform: rotate(0.0deg);
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_27 {
  -ms-transform: rotate(0.0deg);
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}