#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb #s-Label_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258a5dff-5c13-4d06-ad6e-7652379db2fb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}