#s-2ece1654-e2c5-496d-941f-c9809291838c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ece1654-e2c5-496d-941f-c9809291838c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}