#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d {
  background-color: transparent;
  background-image: none;
  min-width: 905px;
  min-height: 76px;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Group_10 {
  position: absolute;
  top: 33px;
  left: 36px;
  width: 869px;
  height: 43px;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_25 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 20px;
  width: 840px;
  height: 34px;
  background-color: #F8F8F8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #777777;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16pt;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_25 .valign {
  vertical-align: middle;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_26 {
  position: absolute;
  top: 0px;
  left: 161px;
  width: 102px;
  height: 40px;
  background-color: #E7E7E7;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #555555;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_26 .valign {
  vertical-align: middle;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_27 {
  position: absolute;
  top: 1px;
  left: 479px;
  width: 128px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_27 .valign {
  vertical-align: middle;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_28 {
  position: absolute;
  top: 0px;
  left: 277px;
  width: 115px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_28 .valign {
  vertical-align: middle;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_29 {
  position: absolute;
  top: 0px;
  left: 395px;
  width: 87px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_29 .valign {
  vertical-align: middle;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_30 {
  position: absolute;
  top: 1px;
  left: 686px;
  width: 86px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_30 .valign {
  vertical-align: middle;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_31 {
  position: absolute;
  top: 0px;
  left: 789px;
  width: 80px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_31 .valign {
  vertical-align: middle;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_4 {
  position: absolute;
  top: 48px;
  left: 209px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 10pt;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_4 .valign {
  vertical-align: middle;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_3 {
  position: absolute;
  top: 48px;
  left: 315px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 10pt;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_3 .valign {
  vertical-align: middle;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_5 {
  position: absolute;
  top: 49px;
  left: 705px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 10pt;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_5 .valign {
  vertical-align: middle;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_7 {
  position: absolute;
  top: 49px;
  left: 531px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 10pt;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_7 .valign {
  vertical-align: middle;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_8 {
  position: absolute;
  top: 49px;
  left: 823px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 10pt;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_8 .valign {
  vertical-align: middle;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_6 {
  position: absolute;
  top: 49px;
  left: 440px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 10pt;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_6 .valign {
  vertical-align: middle;
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}