#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
  width: 840px;
  height: 34px;
  -ms-transform: rotate(0.0deg);
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  -ms-transform: rotate(0.0deg);
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_27 {
  -ms-transform: rotate(0.0deg);
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-4a8e607a-c30a-40b4-bde9-3fd96f302a5d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}