#s-56f09c81-e5b0-49d6-862e-91ffac37e3b3 {
  background-color: transparent;
  background-image: none;
  min-width: 1024px;
  min-height: 768px;
}
#s-56f09c81-e5b0-49d6-862e-91ffac37e3b3 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-56f09c81-e5b0-49d6-862e-91ffac37e3b3 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56f09c81-e5b0-49d6-862e-91ffac37e3b3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}