#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e {
  background-color: transparent;
  background-image: none;
  min-width: 939px;
  min-height: 1797px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_1 {
  position: absolute;
  top: 54px;
  left: 92px;
  width: 517px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 18pt;
  font-family: Arial,Arial;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18pt;
  font-style: normal;
  font-weight: 700;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Group_23 {
  position: absolute;
  top: 116px;
  left: 92px;
  width: 847px;
  height: 744px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rectangle_20 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 825px;
  height: 722px;
  background-color: #EEEEEE;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 19px 19px 19px 19px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial,Arial;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rectangle_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_7 {
  position: absolute;
  top: 188px;
  left: 82px;
  width: 709px;
  height: 126px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 29px;
  font-size: 14pt;
  font-family: Arial,Arial;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_9 {
  position: absolute;
  top: 569px;
  left: 82px;
  width: 709px;
  height: 58px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 29px;
  font-size: 14pt;
  font-family: Arial,Arial;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_9 span#rtr-s-Rich_text_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Button_12 {
  position: absolute;
  top: 434px;
  left: 174px;
  width: 112px;
  height: 21px;
  background-color: #428BCA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Button_12 .valign {
  vertical-align: middle;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Button_11 {
  position: absolute;
  top: 434px;
  left: 326px;
  width: 146px;
  height: 21px;
  background-color: #5CB85C;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Button_11 .valign {
  vertical-align: middle;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_2 {
  position: absolute;
  top: 144px;
  left: 146px;
  width: 753px;
  height: 131px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 34px;
  font-size: 18pt;
  font-family: Arial,Arial;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18pt;
  font-style: normal;
  font-weight: 400;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_3 {
  position: absolute;
  top: 487px;
  left: 152px;
  width: 741px;
  height: 53px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16pt;
  font-family: Arial,Arial;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: 700;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_4 {
  position: absolute;
  top: 265px;
  left: 146px;
  width: 781px;
  height: 53px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16pt;
  font-family: Arial,Arial;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: 700;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_4 span#rtr-s-Rich_text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_5 {
  position: absolute;
  top: 531px;
  left: 174px;
  width: 753px;
  height: 53px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16pt;
  font-family: Arial,Arial;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16pt;
  font-style: italic;
  font-weight: 400;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_5 span#rtr-s-Rich_text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16pt;
  font-style: italic;
  font-weight: 400;
  line-height: 0px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_6 {
  position: absolute;
  top: 642px;
  left: 174px;
  width: 753px;
  height: 53px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16pt;
  font-family: Arial,Arial;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16pt;
  font-style: italic;
  font-weight: 400;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_6 span#rtr-s-Rich_text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16pt;
  font-style: italic;
  font-weight: 400;
  line-height: 0px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_18 {
  position: absolute;
  top: 574px;
  left: 174px;
  width: 709px;
  height: 58px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 29px;
  font-size: 14pt;
  font-family: Arial,Arial;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_18 span#rtr-s-Rich_text_18_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Button_15 {
  position: absolute;
  top: 774px;
  left: 174px;
  width: 112px;
  height: 21px;
  background-color: #428BCA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Button_15 .valign {
  vertical-align: middle;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_4 {
  position: absolute;
  top: 436px;
  left: 186px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 16pt;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_4 .valign {
  vertical-align: middle;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_5 {
  position: absolute;
  top: 438px;
  left: 343px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 16pt;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_5 .valign {
  vertical-align: middle;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_6 {
  position: absolute;
  top: 777px;
  left: 178px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 16pt;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_6 .valign {
  vertical-align: middle;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Group_24 {
  position: absolute;
  top: 897px;
  left: 92px;
  width: 847px;
  height: 900px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rectangle_21 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 823px;
  height: 876px;
  background-color: #EEEEEE;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 21px 21px 21px 21px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial,Arial;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rectangle_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rectangle_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rectangle_21 span#rtr-s-Rectangle_21_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_8 {
  position: absolute;
  top: 328px;
  left: 88px;
  width: 709px;
  height: 160px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 29px;
  font-size: 14pt;
  font-family: Arial,Arial;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_8 span#rtr-s-Rich_text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_10 {
  position: absolute;
  top: 766px;
  left: 88px;
  width: 709px;
  height: 58px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 29px;
  font-size: 14pt;
  font-family: Arial,Arial;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_10 span#rtr-s-Rich_text_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Button_13 {
  position: absolute;
  top: 1388px;
  left: 180px;
  width: 112px;
  height: 21px;
  background-color: #428BCA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Button_13 .valign {
  vertical-align: middle;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Button_14 {
  position: absolute;
  top: 1388px;
  left: 332px;
  width: 146px;
  height: 21px;
  background-color: #5CB85C;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Button_14 .valign {
  vertical-align: middle;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_11 {
  position: absolute;
  top: 942px;
  left: 146px;
  width: 753px;
  height: 211px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 34px;
  font-size: 18pt;
  font-family: Arial,Arial;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18pt;
  font-style: normal;
  font-weight: 400;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_11 span#rtr-s-Rich_text_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_12 {
  position: absolute;
  top: 1465px;
  left: 158px;
  width: 741px;
  height: 53px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16pt;
  font-family: Arial,Arial;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_12 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: 700;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_12 span#rtr-s-Rich_text_12_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_13 {
  position: absolute;
  top: 1186px;
  left: 152px;
  width: 781px;
  height: 53px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16pt;
  font-family: Arial,Arial;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_13 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: 700;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_13 span#rtr-s-Rich_text_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_14 {
  position: absolute;
  top: 1509px;
  left: 180px;
  width: 753px;
  height: 53px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16pt;
  font-family: Arial,Arial;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16pt;
  font-style: italic;
  font-weight: 400;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_14 span#rtr-s-Rich_text_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16pt;
  font-style: italic;
  font-weight: 400;
  line-height: 0px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_15 {
  position: absolute;
  top: 1620px;
  left: 180px;
  width: 753px;
  height: 53px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16pt;
  font-family: Arial,Arial;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16pt;
  font-style: italic;
  font-weight: 400;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_15 span#rtr-s-Rich_text_15_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16pt;
  font-style: italic;
  font-weight: 400;
  line-height: 0px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_19 {
  position: absolute;
  top: 1552px;
  left: 180px;
  width: 709px;
  height: 58px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 29px;
  font-size: 14pt;
  font-family: Arial,Arial;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_19 span#rtr-s-Rich_text_19_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Button_16 {
  position: absolute;
  top: 1752px;
  left: 180px;
  width: 112px;
  height: 21px;
  background-color: #428BCA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Button_16 .valign {
  vertical-align: middle;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_7 {
  position: absolute;
  top: 1390px;
  left: 192px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 16pt;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_7 .valign {
  vertical-align: middle;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_8 {
  position: absolute;
  top: 1392px;
  left: 349px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 16pt;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_8 .valign {
  vertical-align: middle;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_9 {
  position: absolute;
  top: 1755px;
  left: 184px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 16pt;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_9 .valign {
  vertical-align: middle;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_3 {
  position: absolute;
  top: 1634px;
  left: 825px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 22pt;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_3 .valign {
  vertical-align: middle;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_10 {
  position: absolute;
  top: 1632px;
  left: 864px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 22pt;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_10 .valign {
  vertical-align: middle;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}