#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rectangle_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 19px 19px 19px 19px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 825px;
  height: 722px;
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Button_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 112px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Button_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 146px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Button_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 112px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rectangle_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 21px 21px 21px 21px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  width: 823px;
  height: 876px;
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Button_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 112px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Button_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 146px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Rich_text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Button_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 112px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}