#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}