#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e {
  background-color: transparent;
  background-image: none;
  min-width: 986px;
  min-height: 743px;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e #s-Image_1 {
  position: absolute;
  top: 21px;
  left: 29px;
  width: 957px;
  height: 722px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5ffefb19-ac9a-4856-a233-fb7f3d7eb82e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}