#s-83eccb00-b96f-453c-a196-b57431b33f09 {
  background-color: transparent;
  background-image: none;
  min-width: 1024px;
  min-height: 754px;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_1 {
  position: absolute;
  top: -14px;
  left: 0px;
  width: 1024px;
  height: 768px;
  background-color: #404040;
  background-image: none;
  opacity: 0.58;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial,Arial;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Group_23 {
  position: absolute;
  top: 113px;
  left: 81px;
  width: 747px;
  height: 323px;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_20 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 737px;
  height: 313px;
  background-color: #EEEEEE;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial,Arial;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rich_text_7 {
  position: absolute;
  top: 56px;
  left: 50px;
  width: 479px;
  height: 266px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 29px;
  font-size: 14pt;
  font-family: Arial,Arial;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rich_text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rich_text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_22 {
  position: absolute;
  top: 435px;
  left: 81px;
  width: 740px;
  height: 65px;
  background-color: #FFFFFF;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/07226b0d-f34c-45cf-81af-0be1ffe6e061.PNG');
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #5C5C5C;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #9B9B9B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #5C5C5C;
  border-radius: 0px 0px 5px 5px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial,Arial;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_22 span#rtr-s-Rectangle_22_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Button_12 {
  position: absolute;
  top: 455px;
  left: 720px;
  width: 74px;
  height: 21px;
  background-color: #428BCA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Button_12 .valign {
  vertical-align: middle;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_23 {
  position: absolute;
  top: 102px;
  left: 81px;
  width: 740px;
  height: 65px;
  background-color: #FFFFFF;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/07226b0d-f34c-45cf-81af-0be1ffe6e061.PNG');
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #5C5C5C;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #9B9B9B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #5C5C5C;
  border-radius: 0px 0px 5px 5px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial,Arial;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_23 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_23 span#rtr-s-Rectangle_23_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rich_text_1 {
  position: absolute;
  top: 116px;
  left: 92px;
  width: 736px;
  height: 54px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 27pt;
  font-family: Arial,Arial;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rich_text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 27pt;
  font-style: normal;
  font-weight: 700;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 27pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Image_1 {
  position: absolute;
  top: 184px;
  left: 637px;
  width: 151px;
  height: 175px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}