#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58) ;
  filter: alpha(opacity=58) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rich_text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_23 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: 0px;
  margin-top: -2px;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}