#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58);
  filter: alpha(opacity=58);
  -ms-transform: rotate(0.0deg);
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 737px;
  height: 313px;
  -ms-transform: rotate(0.0deg);
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rich_text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_22 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #5C5C5C;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #9B9B9B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #5C5C5C;
  border-radius: 0px 0px 5px 5px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 740px;
  height: 65px;
  -ms-transform: rotate(0.0deg);
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Button_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rectangle_23 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #5C5C5C;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #9B9B9B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #5C5C5C;
  border-radius: 0px 0px 5px 5px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 740px;
  height: 65px;
  -ms-transform: rotate(180.0deg);
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Rich_text_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -ms-transform: rotate(0.0deg);
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-83eccb00-b96f-453c-a196-b57431b33f09 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}