#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Rich_text_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Table_1 {
  border-collapse: separate;
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Button_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-radius: 0px 3px 3px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  width: 88px;
  height: 15px;
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Button_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 0px 0px 3px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 74px;
  height: 15px;
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Button_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-radius: 0px 3px 3px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  width: 88px;
  height: 15px;
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Button_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 0px 0px 3px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 74px;
  height: 15px;
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Button_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Button_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 0px 0px 3px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 74px;
  height: 15px;
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B5B5B5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  border-radius: 6px 6px 0px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  padding-left: 3px;
  width: 161px;
  height: 7px;
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Rectangle_16 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  border-radius: 0px 0px 6px 6px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 161px;
  height: 7px;
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 16px;
  width: 62px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Button_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 16px;
  width: 62px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Button_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 16px;
  width: 62px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Rectangle_18 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  border-radius: 0px 0px 6px 6px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 161px;
  height: 7px;
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Label_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
  width: 840px;
  height: 34px;
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Label_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Label_27 {
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-9ff702ab-bb21-448c-b985-4720920b3dd5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}