#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 {
  background-color: transparent;
  background-image: none;
  min-width: 905px;
  min-height: 761px;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Rich_text_1 {
  position: absolute;
  top: 111px;
  left: 42px;
  width: 840px;
  height: 54px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 27pt;
  font-family: Arial,Arial;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Rich_text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 27pt;
  font-style: normal;
  font-weight: 700;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 27pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Group_10 {
  position: absolute;
  top: 33px;
  left: 36px;
  width: 869px;
  height: 43px;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_25 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 20px;
  width: 840px;
  height: 34px;
  background-color: #F8F8F8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #777777;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16pt;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_25 .valign {
  vertical-align: middle;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_26 {
  position: absolute;
  top: 1px;
  left: 484px;
  width: 102px;
  height: 40px;
  background-color: #E7E7E7;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #555555;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_26 .valign {
  vertical-align: middle;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_27 {
  position: absolute;
  top: 1px;
  left: 158px;
  width: 136px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_27 .valign {
  vertical-align: middle;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_28 {
  position: absolute;
  top: 0px;
  left: 277px;
  width: 115px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_28 .valign {
  vertical-align: middle;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_29 {
  position: absolute;
  top: 0px;
  left: 395px;
  width: 87px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_29 .valign {
  vertical-align: middle;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_30 {
  position: absolute;
  top: 1px;
  left: 686px;
  width: 86px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_30 .valign {
  vertical-align: middle;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_31 {
  position: absolute;
  top: 0px;
  left: 789px;
  width: 80px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_31 .valign {
  vertical-align: middle;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_4 {
  position: absolute;
  top: 48px;
  left: 209px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 10pt;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_4 .valign {
  vertical-align: middle;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_3 {
  position: absolute;
  top: 48px;
  left: 315px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 10pt;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_5 {
  position: absolute;
  top: 49px;
  left: 705px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 10pt;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_5 .valign {
  vertical-align: middle;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_7 {
  position: absolute;
  top: 49px;
  left: 531px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 10pt;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_7 .valign {
  vertical-align: middle;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_8 {
  position: absolute;
  top: 49px;
  left: 823px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 10pt;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_8 .valign {
  vertical-align: middle;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_6 {
  position: absolute;
  top: 49px;
  left: 440px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 10pt;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_6 .valign {
  vertical-align: middle;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Group_7 {
  position: absolute;
  top: 189px;
  left: 43px;
  width: 100px;
  height: 171px;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_32 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 11px;
  width: 89px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #0088CC;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_32 .valign {
  vertical-align: middle;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_33 {
  position: absolute;
  top: 32px;
  left: 0px;
  padding-left: 11px;
  width: 89px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #0088CC;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_33 .valign {
  vertical-align: middle;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Line_4 {
  position: absolute;
  top: 64px;
  left: 36px;
  width: 127px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_35 {
  position: absolute;
  top: 103px;
  left: 0px;
  padding-left: 11px;
  width: 89px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #0088CC;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_35 .valign {
  vertical-align: middle;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_36 {
  position: absolute;
  top: 133px;
  left: 0px;
  padding-left: 11px;
  width: 89px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #0088CC;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_36 .valign {
  vertical-align: middle;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_37 {
  position: absolute;
  top: 68px;
  left: 0px;
  padding-left: 13px;
  width: 86px;
  height: 32px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 0px 0px 3px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Label_37 .valign {
  vertical-align: middle;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Input_1 {
  position: absolute;
  top: 189px;
  left: 141px;
  padding-left: 5px;
  width: 734px;
  height: 570px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Rich_text_5 {
  position: absolute;
  top: 209px;
  left: 164px;
  width: 671px;
  height: 538px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial,Arial;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Rich_text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Rich_text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 #s-Rich_text_5 span#rtr-s-Rich_text_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bc227f88-44cf-4d19-b5fd-698ef5b63f01 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}