#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}