#s-bdd95815-c333-49a6-b74b-c9ff2d44972c {
  background-color: transparent;
  background-image: none;
  min-width: 950px;
  min-height: 676px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Group_23 {
  position: absolute;
  top: 236px;
  left: 124px;
  width: 817px;
  height: 263px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_20 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 817px;
  height: 263px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial,Arial;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_20 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_7 {
  position: absolute;
  top: 19px;
  left: 313px;
  width: 465px;
  height: 97px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 14pt;
  font-family: Myriad Pro,Arial;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_7 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Myriad Pro,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Myriad Pro,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_6 {
  position: absolute;
  top: 62px;
  left: 119px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 820px;
  height: 148px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 114px;
  font-size: 60pt;
  font-family: Sanchez,Arial;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_6 span {
  color: #567381;
  text-align: left;
  text-decoration: none;
  font-family: Sanchez,Arial;
  font-size: 60pt;
  font-style: normal;
  font-weight: 400;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_6 span#rtr-s-Rich_text_6_0 {
  color: #567381;
  text-align: left;
  text-decoration: none;
  font-family: Sanchez,Arial;
  font-size: 60pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_7 {
  position: absolute;
  top: 591px;
  left: 510px;
  width: 340px;
  height: 85px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Myriad Pro,Arial;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Myriad Pro,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Myriad Pro,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Group_8 {
  position: absolute;
  top: 388px;
  left: 440px;
  width: 108px;
  height: 29px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 102px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial,Arial;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Input_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 8px;
  width: 100px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Input_5 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: Myriad Pro,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Group_9 {
  position: absolute;
  top: 388px;
  left: 567px;
  width: 97px;
  height: 29px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 91px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial,Arial;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Input_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 8px;
  width: 89px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Input_6 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: Myriad Pro,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Button_12 {
  position: absolute;
  top: 389px;
  left: 679px;
  width: 86px;
  height: 21px;
  background-color: #92C149;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #75AF4C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #75AF4C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #75AF4C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #75AF4C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Myriad Pro,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Button_12 .valign {
  vertical-align: middle;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_2 {
  position: absolute;
  top: 442px;
  left: 445px;
  width: 165px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 9pt;
  font-family: Myriad Pro,Arial;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_2 span {
  color: #999999;
  text-align: left;
  text-decoration: underline;
  font-family: Myriad Pro,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #999999;
  text-align: left;
  text-decoration: underline;
  font-family: Myriad Pro,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_4 {
  position: absolute;
  top: 442px;
  left: 528px;
  width: 198px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 9pt;
  font-family: Myriad Pro,Arial;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_4 span {
  color: #999999;
  text-align: left;
  text-decoration: underline;
  font-family: Myriad Pro,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_4 span#rtr-s-Rich_text_4_0 {
  color: #999999;
  text-align: left;
  text-decoration: underline;
  font-family: Myriad Pro,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Group_1 {
  position: absolute;
  top: 390px;
  left: 791px;
  width: 159px;
  height: 25px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Label_1 {
  position: absolute;
  top: 0px;
  left: 6px;
  width: 153px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Myriad Pro,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Label_1 .valign {
  vertical-align: middle;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Input_1 {
  position: absolute;
  top: 2px;
  left: 0px;
  box-shadow: none;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Image_1 {
  position: absolute;
  top: 246px;
  left: 119px;
  width: 288px;
  height: 228px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Image_2 {
  position: absolute;
  top: 598px;
  left: 873px;
  width: 69px;
  height: 58px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_10 {
  position: absolute;
  top: 591px;
  left: 123px;
  width: 386px;
  height: 85px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Myriad Pro,Arial;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Myriad Pro,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Myriad Pro,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Label_3 {
  position: absolute;
  top: 392px;
  left: 752px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 11pt;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Label_3 .valign {
  vertical-align: middle;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}