#s-bdd95815-c333-49a6-b74b-c9ff2d44972c {
  background-color: transparent;
  background-image: none;
  min-width: 954px;
  min-height: 735px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Group_23 {
  position: absolute;
  top: 168px;
  left: 118px;
  width: 829px;
  height: 354px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_20 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 817px;
  height: 342px;
  background-color: #EEEEEE;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial,Arial;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_6 {
  position: absolute;
  top: 48px;
  left: 45px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 686px;
  height: 83px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 66px;
  font-size: 44pt;
  font-family: Arial,Arial;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 44pt;
  font-style: normal;
  font-weight: 700;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_6 span#rtr-s-Rich_text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 44pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_7 {
  position: absolute;
  top: 140px;
  left: 55px;
  width: 710px;
  height: 107px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 29px;
  font-size: 14pt;
  font-family: Arial,Arial;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_7 {
  position: absolute;
  top: 670px;
  left: 112px;
  width: 832px;
  height: 55px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial,Arial;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Group_8 {
  position: absolute;
  top: 480px;
  left: 176px;
  width: 169px;
  height: 29px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 163px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial,Arial;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Input_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 8px;
  width: 161px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Input_5 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Group_9 {
  position: absolute;
  top: 480px;
  left: 377px;
  width: 169px;
  height: 29px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 163px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial,Arial;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Input_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 8px;
  width: 161px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Input_6 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Button_12 {
  position: absolute;
  top: 479px;
  left: 586px;
  width: 74px;
  height: 21px;
  background-color: #428BCA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Button_12 .valign {
  vertical-align: middle;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_1 {
  position: absolute;
  top: 91px;
  left: 337px;
  width: 198px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_2 {
  position: absolute;
  top: 482px;
  left: 704px;
  width: 198px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_3 {
  position: absolute;
  top: 20px;
  left: 118px;
  width: 517px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 18pt;
  font-family: Arial,Arial;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18pt;
  font-style: normal;
  font-weight: 700;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}