#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 817px;
  height: 342px;
  -ms-transform: rotate(0.0deg);
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 832px;
  height: 55px;
  -ms-transform: rotate(0.0deg);
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 163px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 163px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Button_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bdd95815-c333-49a6-b74b-c9ff2d44972c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}