#s-d26fe817-36d0-4636-9a66-eddca7e91774 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d26fe817-36d0-4636-9a66-eddca7e91774 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}