#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 #s-Rich_text_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -ms-transform: rotate(0.0deg);
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 #s-Label_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
  width: 840px;
  height: 34px;
  -ms-transform: rotate(0.0deg);
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 #s-Label_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  -ms-transform: rotate(0.0deg);
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 #s-Label_27 {
  -ms-transform: rotate(0.0deg);
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(90.0deg);
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(90.0deg);
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 #s-Label_34 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 0px 0px 3px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 13px;
  width: 86px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 #s-Label_36 {
  -ms-transform: rotate(0.0deg);
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}