#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 {
  background-color: transparent;
  background-image: none;
  min-width: 0px;
  min-height: 0px;
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-e4d2e65a-26a5-4b1b-907d-21f29a98d690 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}