#s-fe86450a-750b-4f12-9e8b-8a03fa632f46 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe86450a-750b-4f12-9e8b-8a03fa632f46 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}