#s-ff23f7c2-4ca8-481d-b2ef-679abc559708 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff23f7c2-4ca8-481d-b2ef-679abc559708 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}